<div class="relative">
    <div fxLayout="row" fxLayoutAlign="center start" class="graphContainer">
        <div fxLayout="column" fxFlex.xl="40" fxFlex.lg="32" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">
            <div class="mw-100 d-flex justify-content-center">
                <carousel class="creditBody mat-elevation-z8" [pauseOnFocus]="true" [interval]=3000>
                    <slide>
                        <img  src="https://www.svgrepo.com/show/28740/credit-card.svg" alt="second slide" style="display: block; width: 100%;">
                    </slide>
    
                    <slide>
                        <img src="https://www.svgrepo.com/show/42266/credit-card.svg" alt="first slide" style="display: block; width: 100%;">
                    </slide>
                    
                    <slide>
                        <img  src="https://www.svgrepo.com/show/28740/credit-card.svg" alt="third slide" style="display: block; width: 100%;">
                    </slide>
                </carousel>
            </div>
            <mat-card class="cardBody mat-elevation-z8">
                <div class="d-flex flex-row justify-content-center">
                </div>
            </mat-card>
        </div>
    </div>
</div>