$md-night: #2e2c2f;
$md-day: #f5f5f5;
$md-border-n: 3px solid #4d4c4e;
$md-border-d: 3px solid #ffffff;

.cardBody {
    position: relative;
    background-color: $md-night;
    border: $md-border-n;
    border-radius: 32px;
}

.graphContainer {
    padding: 10vh 20vh 10vh 20vh;
}

.chartContainer {
    max-width: 100%;
    display: flex;
}

@media (max-width: 450px) {
    .graphContainer {
        padding: 10vh 0 10vh 0;
    }
}

carousel {
    slide {
        width: 100%;
        img {
            display: flex;
            height: 300px;
        }
    }
}

::ng-deep .card.customClass,
  .card.customClass .card-header,
  .panel.customClass {
    background-color: #5bc0de;
    color: #fff;
  }
::ng-deep .panel.customClass .panel-body {
    background-color: #337aa7;
  }

// ::ng-deep .mat-expansion-panel-header.mat-expanded,
// .mat-expansion-panel-header.mat-expanded:hover {
//     background-color: #ffffff;
//     background: white;
//     border-radius: 32px !important;
// }

// ::ng-deep .mat-expansion-panel-header.mat-not-expanded,
// .mat-expansion-panel-description {
//     background-color: white;
//     background: white;
//     border-radius: 32px !important;
// }

.chip-list {
    width: 300px;
    background-color: beige;
}  

::ng-deep .ngx-charts text {
    fill: #fff;
  } 