$md-night: #2e2c2f;
$md-border: 3px solid #4d4c4e;

.cardBody {
    position: relative;
    background-color: $md-night;
    border: $md-border;
    border-radius: 32px;
}

.graphContainer {
    padding: 10vh 0 10vh 0;
}

.tableContainer {
    padding-bottom: 30px;
    padding-top: 30px;
}

::ng-deep .mat-paginator-page-size{
    display: none !important;
}

::ng-deep .mat-paginator-range-label{
    display: none !important;
}

table {
    width: 100%;
}

.mat-row {
    background-color: $md-night;
}