$md-day: (
    50 : #fefefe,
    100 : #fcfcfc,
    200 : #fafafa,
    300 : #f8f8f8,
    400 : #f7f7f7,
    500 : #f5f5f5,
    600 : #f4f4f4,
    700 : #f2f2f2,
    800 : #f0f0f0,
    900 : #eeeeee,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-night: (
    50 : #e6e6e6,
    100 : #c0c0c1,
    200 : #979697,
    300 : #6d6b6d,
    400 : #4d4c4e,
    500 : #2e2c2f,
    600 : #29272a,
    700 : #232123,
    800 : #1d1b1d,
    900 : #121012,
    A100 : #f266f2,
    A200 : #ee37ee,
    A400 : #f200f2,
    A700 : #d900d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-salmon: (
    50 : #fdf7f8,
    100 : #faecec,
    200 : #f7dfe0,
    300 : #f3d2d4,
    400 : #f1c8ca,
    500 : #eebec1,
    600 : #ecb8bb,
    700 : #e9afb3,
    800 : #e7a7ab,
    900 : #e2999e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-peach: (
    50 : #fffbf5,
    100 : #fef4e6,
    200 : #feedd5,
    300 : #fde6c4,
    400 : #fce0b8,
    500 : #fcdbab,
    600 : #fcd7a4,
    700 : #fbd29a,
    800 : #fbcd91,
    900 : #fac480,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);